.card{
  margin: 10px 0px !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 18rem;
}
.card img{
  max-height: 270px;
  object-fit: cover;
}
.card-title{
  margin-bottom: .75rem;
}
.card-text{
  margin-top: 0;
}
p{
  margin-top: 0;
}
.card-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.card-text:last-child{
  margin-bottom: 0;
}
.card-img, .card-img-top{
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
.list-group{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.list-group-flush .list-group-item:first-child{
  border-top-width: 0;
}
.list-group-flush .list-group-item{
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
}
.list-group-item{
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}
.btn-dark{
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-group-lg>.btn, .btn-lg{
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem
}
.btn{
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-block{
  display: block;
  width: 100%;
  background-color: #343A40;
  color: #FFFFFF;
  font-size: 20px;
  padding: 8px 16px;
}
.main{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.main1{
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.main_h1{
  width: 100%;
}
.main_1_h1{
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}
h1{
  margin: 100px 0px 40px 0px;
  font-size: 40px;
  color: #212529;
}
