.navfoto{
  width: 60px;
}
.navbar{
  background-color: #343a40!important
}
.container-fluid{
  width: 94%;
}
.nav-link{
  font-size: 22px;
  margin: 0px 23px;
}

.navbar-nav .nav-link.active{
  color: #FFFFFF;
}
.navbar-nav .nav-link{
  color: rgba(255,255,255,.5);
}

.wh{
  color: #FFFFFF;
}
.bl{
  color: rgba(255,255,255,.5);
}

.navbar-nav .nav-link:focus{
  color: #FFFFFF;
}
.navbar-nav .nav-link:hover{
  color: rgba(255,255,255,.75);
}
